<ion-header>
    <ion-navbar>
        <ion-title>Stock para '<span *ngIf="article">{{article.descripcion}}</span>'</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            En Sucursales
        </ion-list-header>
        <ion-item *ngFor="let item of items$ | async">
            <ion-avatar item-left>
                <img [src]="getArticleImage(item.idArticulo)">
            </ion-avatar>
            <h2>{{item.nombreDeposito}}</h2>
            <p>{{item.cantidad}} en stock</p>
        </ion-item>
    </ion-list>
</ion-content>
