page-home {
    ion-content {
        background-color: $background-color;

        .home-container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            height: 100%;
            justify-content: center;

            button {
                width: 100%;
            }
        }
    }
}
